.footer{
    padding: 10rem 0;
    background-color: $color-grey-dark-3;
    font-size: 1.4rem;
    position: relative;

    @include response(tab-port){
        padding: 8rem 0;
    }

    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;
       
        @include response(tab-port){
            margin-bottom: 6rem;
        }

    }

    &__logo{
        width: 15rem;
        height: auto;

    }
//the list for the contact,about,...etc links
    &__list{
        list-style: none;
    }

    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;

        }
    }
//link for the links in the footer
    &__link{
        &:visited,
        &:link{
            color: $color-grey-white-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            transition: all .2s;
        }

        &:hover,
        &:active{
            color:$color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4) ;
            transform: rotate(5deg) scale(1.3);
        }
    }
//navigation incudes links about,contact,...etc
    &__navigation{
        border-top: 1px solid $color-grey-dark ;
        padding-top: 2rem;
        display: inline-block;

        @include response(tab-port){
            width: 100%;
            text-align: center;
        }
    }

    &__copyright{
        color: $color-grey-white-1;
        border-top: 1px solid $color-grey-dark ;
        padding-top: 2rem;
        width: 80%;
        float: right;
        text-align: center;
        
        @include response(tab-port){
            width: 100%;
            float: none;
        }

    }
}